{% extends "main.html" %}
{% block content %}
	<div class="change-button">
		<h1>Add SubCategory</h1>
		<form action="{{url_for('addSubCategory', category_name = name)}}" method="post">
			<label>Name </label>
			<input type="text" name="name" required><br><br>
			<label>Picture </label>
			<input type="text" name="image" required><br><br>
			<input type="submit" value="Submit">&ensp;
			<a href="{{url_for('showCorner', category_name = name)}}">Cancel</a>
		</form>
	</div>
{% endblock %}